#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button[name="Add Another Grade"],
button[name="Remove Field"],
button[name="Add Field"],
div[name="Final Grade"],
div[name="Section Grade"],
input {
  margin-top: 20px;
}

button[name="Add Another Grade"],
label[name="result"],
input {
  margin-right: 20px;
}
