#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button[name^="Add"] {
  margin-top: 20px;
  margin-right: 20px;
}

button[name="Add Field"]:hover {
  background-color: #2196F3;
  border-color: #2196F3;
}

button[name="Add Another Grade"]:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

button[name="Remove Field"] {
  margin-top: 30px;
}

button[name^="Remove"]:hover {
  background-color: #FF5252;
  border-color: #FF5252;
}

div[name="Section Grade"],
div[name="Final Grade"],
input {
  margin-top: 20px;
  margin-right: 20px;
}

hr {
  border-color: black;
  margin-top: 20px;
}
